body {
    background-image: linear-gradient(#367fff, #c936ff);
    overflow: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

h1 {
    font-size: 70pt;
}

@media (prefers-color-scheme: dark) {
    form {
        margin: 30vh auto;
        width: fit-content;
        background-color: #00000030;
        padding: 50px;
        border-radius: 30px;
    }
}

@media (prefers-color-scheme: light) {
    form {
        margin: 30vh auto;
        margin-bottom: 10vh;
        width: fit-content;
        background-color: #ffffff30;
        padding: 50px;
        border-radius: 30px;
    }
}


@media (prefers-color-scheme: dark) {
    h2 {
        margin: 0 auto;
        width: fit-content;
        background-color: #00000020;
        box-shadow: 0 0 50px #00000040;
        text-shadow: 0 0 20px #fff;
        font-size: xx-large;
        padding: 50px 150px;
        border-radius: 30px;
        transition: opacity 2s;
    }
}

@media (prefers-color-scheme: light) {
    h2 {
        margin: 0 auto;
        width: fit-content;
        background-color: #ffffff20;
        box-shadow: 0 0 50px #ffffff40;
        text-shadow: 0 0 20px #fff;
        font-size: xx-large;
        padding: 50px 150px;
        border-radius: 30px;
        opacity: 1;
        transition: opacity 2s;
    }
}

input {
    border: none;
    border-radius: 15px;
    background-color: #00000030;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.fault {
    background-color: #ff000030;
    border: 1px solid #ff0000;
}

.submit {
    background-color: #8eb8ff;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #e395ff;
}

.hidden {
    opacity: 0;
}